# Python files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual Environment
.venv/

# VSCode settings
.vscode/

# SQLite database files
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

# Django migration files
**/migrations/*.py
**/migrations/*.pyc

# Static and media files
/urban/static/
/urban/media/

# Config and sensitive files
config.yml
credentials.yml
domain.yml
endpoints.yml

# Logs and temporary files
*.log
logs/
*.tmp
*.swp
*.swo
*.bak

# IDE settings and system files
.idea/
.DS_Store

# Requirements files
!requirements.txt

# Exclude everything in the data folder except README.md (if exists)
data/*
!data/README.md

# Test and coverage reports
/tests/
htmlcov/
*.coverage
coverage.xml

# Actions folder (if not required for Git)
actions/

# Ignore generated documentation
docs/_build/
