{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/define_style.css' %}" rel="stylesheet" type="text/css">
    <title>Nepali Urban Dictionary - Define {{ word.title }}</title>
</head>

<body>
    <div class="container">
        <header>
            <h3 id="title">Nepali Urban Dictionary - Define {{ word.title }}</h3>
        </header>

        <div class="word-definition">
            <h4 class="word-title">{{ word.title }}</h4>
            <p class="word-meaning"><strong>Meaning:</strong> {{ word.meaning }}</p>
            {% if word.sentence %}
                <p class="word-sentence"><strong>Sentence:</strong> {{ word.sentence }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>